*.class
bin

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.ear
*.zip
*.gz

# generated documents #
Distribution/doc
*.pdf

# IDE files #
.*
!.project
!.classpath

# External Libs #
!commons-cli.jar
!ev3classes.jar
!ev3tools.jar
!jcommon.jar
!jsch-0.1.50.jar
!gluegen*.jar
!jogl*.jar
!javacc.jar

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*
